<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Summary</td>
        <td>Content</td>
        <td>Date time</td>
        <td>Name Category</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="block: ${blogPage}">
        <td th:text="${block.id}"></td>

        <td>
            <a th:href="@{/block/view/__${block.id}__}">
                <p th:text="${block.blockName}"></p>
            </a>
        </td>
        <td th:text="${block.blockSummary}"></td>
        <td th:text="${block.blockContent}"></td>
        <td th:text="${block.startTime}"></td>
        <td th:text="${block.category.name}"></td>
        <td>
            <a th:href="@{/block/showUpdate/__${block.id}__}">
                <P>Update</P>
            </a>
        </td>
        <td>
            <a th:href="@{/block/showDelete/__${block.id}__}">
                <P>Delete</P>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${blogPage.hasPrevious()}" th:href="@{'/block'(page=${blogPage.number -1})}">Back</a>
    <span th:text="${blogPage.number +1}">/</span>/<span th:text="${blogPage.totalPages}"></span>
    <a th:if="${blogPage.hasNext()}" th:href="@{'/block'(page=${blogPage.number +1})}">Next</a>
</div>
</body>
</html>