<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Detail</h3>
<table id="products">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Price</td>
        <td>Status</td>
        <td>Producer</td>
    </tr>
    <tr>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.status}"></td>
        <td th:text="${product.producer}"></td>
    </tr>
</table>
</body>
</html>